<a href="https://colab.research.google.com/github/rpranav07/AI_Odyssey_by_Pranav/blob/main/Pillar%202%3A%20Programming%20and%20Tools/Python/Python_01_(Fundatmentals).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Python Output

In [11]:
# Python is a case sensitive language
print('Hello World')
print('salman khan')
print(7)
print(7.7)
print('Hello',1,4.5,True)
print(True)

Hello World
salman khan
7
7.7
Hello 1 4.5 True
True

In [12]:
# The sep parameter specifies the separator between multiple items, with a default value of a space (' ').
print("A", "B", "C", sep="-")

A-B-C

In [13]:
# The end parameter defines what appears at the end of the printed line, defaulting to a newline ('\n').
print("Hello", end="!")
print("world")

Hello!world

In [14]:
# Both can be combined for advanced formatting
print("A", "B", sep=",", end=".")

A,B.

# 2. Data Types

In [15]:
# Integer
print(8)
# 1*10^308
print((1e308)) # maximum integer Value
print(1e309)

8
1e+308
inf

In [16]:
# Decimal/Float
print(8.55)
print(1.7e308)  # maximum Float value
print(1.7e309)

8.55
1.7e+308
inf

In [17]:
# Boolean
print(True)
print(False)

True
False

In [18]:
# Text/String
print('Hello World')

Hello World

In [19]:
# complex
print(5+6j)

(5+6j)

In [20]:
# List-> C-> Array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [21]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [22]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [23]:
# Dictionary
print({'name':'Nitish','gender':'Male','weight':70})

{'name': 'Nitish', 'gender': 'Male', 'weight': 70}

In [24]:
# type
type([1,2,3])

list

# Comments

In [25]:
# this is a comment
# second line
a = 4
b = 6 # like this
# second comment
print(a+b)

10

# 3. Variables

In [26]:
# Static  Typing

# In static typing, the type of a variable is declared explicitly and checked at compile time.
# Variables must have a fixed type assigned when declared (e.g., int, string).
# Type checking is done before execution (at compile time).
# Errors related to type mismatches are caught early.
# Examples of Static Typing Languages: Java, C++, C#, Go
# Less flexible
# Performance	Generally faster
# int num = 10;   // Explicitly declare variable type
# num = "hello";  // Error: cannot assign a string to an integer

In [27]:
# Dynamic Typing
# Definition: In dynamic typing, the type of a variable is determined at runtime, based on the value assigned.

# Variables don’t need an explicit type declaration.
# Type checking is done during execution (at runtime).
# Variables can hold values of any type and change types dynamically.
# Examples of Dynamically Typed Languages: Python, JavaScript, Ruby, PHP.
# Generally slower and more Flexible

num = 10       # No type declaration needed
num = "hello"  # Valid: The type of 'num' is now a string

In [28]:
# Static Vs Dynamic Binding

# Dynamic Binding
a = 5
print(a)
a = 'nitish'
print(a)

# Static Binding
#  int a = 5

5
nitish

In [29]:
# stylish declaration techniques
# Multiple Assignment
x, y, z = 1, 2, 3
# Swapping Variables Without Temp
x, y = y, x  # Pythonic swap
# Unpacking Lists/Tuples
data = [10, 20, 30]
a, b, c = data
# Inline Conditional Assignment
# status = "Success" if condition else "Failure"

In [30]:
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [31]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [32]:
a=b=c= 5
print(a,b,c)

5 5 5

# 4. Keywords & Identifiers

In [33]:
# Keywords
# Python keywords are reserved words that have specific meanings and purposes within the language.
# They cannot be used as identifiers (e.g., variable names, function names)
# because they are part of the Python syntax.

# Rules for Python Identifiers

An **identifier** is the name used to identify variables, functions, classes, or other objects in Python. Follow these rules to create valid identifiers:

---

## 1. Allowed Characters
- Can include **letters** (A-Z, a-z), **digits** (0-9), and underscores (`_`).
- **Cannot start with a digit.**
  - Valid: `my_var`, `_myVar`, `var123`
  - Invalid: `123var`

---

## 2. Case Sensitivity
- Identifiers are **case-sensitive**.
  - Example: `name`, `Name`, and `NAME` are different identifiers.

---

## 3. No Special Characters
- Cannot contain special characters like `@`, `#`, `$`, `%`, `&`, etc.
  - Invalid: `my#var`, `var!`

---

## 4. No Spaces
- Spaces are not allowed in identifiers.
  - Use underscores (`_`) instead.  
    - Valid: `my_variable`

---

## 5. Cannot Be a Keyword
- Keywords like `if`, `else`, `for`, `while`, etc., **cannot** be used as identifiers.

---

## 6. Unlimited Length
- Identifiers can be of any length, but long names may reduce readability.

---

## Examples

```python
# Valid identifiers
my_var = 10
_var123 = 20
MyClass = "Python"

# Invalid identifiers
1var = 10        # Starts with a digit
my-var = 20      # Contains a special character
for = "Python"   # Uses a keyword

# 5. User Input

In [34]:
input('Enter Email ')

Enter Email 123@456

'123@456'

In [35]:
# take input from users and store them in a variable
fnum = (input('enter first number '))
snum = (input('enter second number '))
#print(type(fnum),type(snum))
# add the 2 variables
result =int(fnum) + int(snum)
# print the result
print(result)
print(type(result),type(fnum),type(snum))

enter first number 2211
enter second number 22112
24323
<class 'int'> <class 'str'> <class 'str'>

# 6. Type Conversion

In [36]:
# Implicit Vs Explicit
print(5 + 5.6)
print(type(5),type(5.6))

# print(4 + '4')  # unsupported operand type(s) for +: 'int' and 'str'

10.6
<class 'int'> <class 'float'>

In [37]:
# Explicit
# str -> int
print(type(int('45')))
# int(4+5j) :- can't convert complex no to integer

# int to str
str(5)

# float
float(4)

<class 'int'>

4.0

# 7. Literals
Literals are fixed values or data items in a Python program that represent specific types of data directly.

They are constants whose value does not change during the execution of the program.

In [38]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [39]:
# binary
x = 3.14j
print(x.imag)

3.14

In [40]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
😀😆🤣
raw \n string

In [41]:
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [42]:
k = None  # Declare variable which can we use it later
a = 5
b = 6
print('Program exe')

Program exe